@model CincyGeeksWebsite.Models.Forum.ViewThreadModel

@{
    ViewBag.Title = Model.CurrentThread.ThreadTitle;
}
<p>
    @Html.ActionLink(String.Format("<< Back to {0}", Model.ParentTopic.TopicTitle), "ViewTopic", new { topicId = Model.ParentTopic.TopicId })
</p>
<h2>
    @if (Model.CurrentThread.IsSticky)
    {
        <b>[STICKY]</b>
    }
    @Model.CurrentThread.ThreadTitle
</h2>
@if (Model.MaxPages > 1)
{
    Html.RenderAction("Paginator", new CincyGeeksWebsite.Models.Shared.PaginatorRenderModel()
    {
        ActionName = "ViewThread",
        ActionParamerType = new CincyGeeksWebsite.Models.Forum.ForumThreadRequestModel(),
        ConstantValues = new Dictionary<string, object>()
        {
            {"ThreadId", Model.CurrentThread.ThreadId}
        },
        CurrentPage = Model.CurrentPage,
        MaxPage = Model.MaxPages,
        PageValueMember = "CurrentPage"
    });   
}

@if (Model.CurrentPage == 0)
{
    Html.RenderPartial("Partials/_Thread", Model.CurrentThread);
}

@foreach (CincyGeeksWebsite.Models.Forum.ForumReplyModel reply in Model.Replies)
{
    
}

@if (Model.MaxPages > 1)
{
    Html.RenderAction("Paginator", new CincyGeeksWebsite.Models.Shared.PaginatorRenderModel()
    {
        ActionName = "ViewThread",
        ActionParamerType = new CincyGeeksWebsite.Models.Forum.ForumThreadRequestModel(),
        ConstantValues = new Dictionary<string, object>()
        {
            {"ThreadId", Model.CurrentThread.ThreadId},
            {"CurrentPage", Model.CurrentPage}            
        },
        CurrentPage = Model.CurrentPage,
        MaxPage = Model.MaxPages,
        PageValueMember = "CurrentPage"
    });   
}

<p>
    @Html.ActionLink(String.Format("<< Back to {0}", Model.ParentTopic.TopicTitle), "ViewTopic", new { topicId = Model.ParentTopic.TopicId })
</p>

@section scripts{
    <script type="text/javascript">
        function CreateNewOnClick() {
            $("#createNewReplyForm").dialog({ modal: true, minWidth: 600, show: { effect: "slide", durration: 150 } });
        };

        function QuoteDivOnChange() {
            $("#quoteContainer").dialog({ modal: true, minWidth: 600, show: { effect: "slide", durration: 150 } });
        }

        function CreateQuoteReplyWindow(data, containerName) {
            $("#quoteDiv").html(data);
            $("#" + containerName).dialog({ modal: true, minWidth: 600, show: { effect: "slide", durration: 150 } });
        }
    </script>    
}

