@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<h3>Pick a tool big guy:</h3>
<ol>
    <li>
        <h5>@Html.ActionLink("User Dashboard", "UserDashboard")</h5>
    </li>
</ol>