<ul id="menu">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Forum", "Index","Forum")</li>
    @if (Roles.IsUserInRole("Administrator"))
    {
        <li>@Html.ActionLink("Administration", "Index", "Administration")</li>
    }
</ul>