@model CincyGeeksWebsite.Models.Forum.PartialModels.CreateNewReplyViewModel

<div id="@Model.ContainerName" title="Post Reply" style="display:none;">
@using(@Html.BeginForm("ViewThread", "Forum", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(M => M.ThreadId)
    <p>Reply Conent:</p>
    @Html.TextAreaFor(M => M.ReplyContent, new {@cols="80" , @rows="10" });
    <br />
    <input type="submit" value="Reply"/>
}
</div>