@model CincyGeeksWebsite.Models.Forum.ForumThreadModel

<div style="overflow:auto; border:1px solid black; margin: 5px;">
        <div style="float:left; width:12%">
            @{
                Html.RenderAction("Avatar", new CincyGeeksWebsite.Models.Shared.AvatarRenderModel()
                {
                    PictureOnly = false,
                    UserId = Model.CreatedById
                });
            }
        </div>
        <div style="float:left; width:83%;">    
            <p>
                @Html.Markdown(Model.ThreadContent)
            </p>
            <hr />
            <p>
                Created By: @Model.CreatedBy on @Model.CreatedOn
            </p>
            @*@Ajax.ActionLink("Quote...", "ForumQuoteAThread",
            new CincyGeeksWebsite.Models.Forum.PartialModels.CreateNewReplyRequestModel(){
                ReplyId = Model.CurrentThread.ThreadId,
                ThreadId = Model.CurrentThread.ThreadId,
                ContainerName = "quoteContainer"
            },
            new AjaxOptions(){
                OnSuccess = "CreateQuoteReplyWindow(data, 'quoteContainer')"
            })*@
        </div>
    </div>
