@model CincyGeeksWebsite.Models.Home.IndexModel
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

@foreach (CincyGeeksWebsite.Models.Shared.AnnouncementPartialModel announce in Model.Announcements)
{
    Html.RenderPartial("_AnnouncementPartial", announce);
    <br />
}
